{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product_block {
            width: 80%;
            margin-left: 10%;
            margin-top: 50px;
        }
        .product_block > img {
            width: 100%;
        }
        .dates{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        .reviews {
            margin-top: 30px;
        }
        .reviews {
            background: #242b2e;
            margin-bottom: 20px;
            color: #ffffff;
            padding: 10px;
        }
    </style>
    <div class="product_block">
        {% if product.image %}
            <img src="/media/{{ product.image }}" alt="">
        {% else %}
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="">
        {% endif %}
        <div class="info">
            <h1>{{ product.name }}</h1>
            <h4>{{ product.description }}</h4>
            <h5>Price: {{ product.price }}</h5>
            <div> class="dates">
                <h5>Created Date {{ product.created_date }}</h5>
                <h5>Modified Date {{ product.modified_date }}</h5>
            </div>
        </div>
        <div class="reviews">
            {% for revie in review %}
                <div class="review_block">
                    <h5>{{ revie.text }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>


  <h3>Add a Review</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
